DB_HOST=localhost
DB_PORT=5432
DB_NAME=sgie
DB_USERNAME=postgres
DB_PASSWORD=postgres

SGIE_NOTIFICACIONES_SCHEDULER_FIXED_DELAY_MS=60000
SGIE_NOTIFICACIONES_SCHEDULER_LIMITE=20
SGIE_NOTIFICACIONES_PERSONAL_GRUPO_WHATSAPP_ID=grupo-personal@g.us
SGIE_NOTIFICACIONES_PRUEBA_PLATO_CHEF_TELEFONO=573001111111
SGIE_NOTIFICACIONES_PRUEBA_PLATO_GERENTE_TELEFONO=573002222222
SGIE_NOTIFICACIONES_PRUEBA_PLATO_TESORERO_TELEFONO=573003333333

SGIE_CALENDARIO_SCHEDULER_FIXED_DELAY_MS=60000
SGIE_CALENDARIO_SCHEDULER_LIMITE=20
SGIE_CALENDARIO_PRUEBA_PLATO_CHEF_CORREO=chef@club.com
SGIE_CALENDARIO_PRUEBA_PLATO_GERENTE_CORREO=gerente@club.com
SGIE_CALENDARIO_PRUEBA_PLATO_TESORERO_CORREO=tesorero@club.com
SGIE_CALENDARIO_EVENTO_CONFIRMADO_ASISTENTES_CORREOS=gerente@club.com,tesorero@club.com
